.floating{
  float: left;
  padding: 20px;
}

span, h1 {
  display: inline-block;
}

.single{
  height: 50vh;
  position: relative;
  padding: 20px;
  border: 1px solid grey;
  background-color: lightgrey;
  border-radius: 20px;
  margin: 10px 0px;
}
img{
  height: 100%;
  width: auto;
}

.notImg{
  height: 100%;
}

.negetive{
  color: red;
}
.positive{
  color: green;
}
.comments{
  position: absolute;
  bottom: 35px;
}
